{% extends "dash.html" %}

{% block title %}Listar Vehículos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Vehículos</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="my-4 flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        {% for auto in vehiculos %}
        <div class="col-12 col-md-4 mb-4 card-img-aum">
            <div class="card h-100 shadow">
                <img 
                    src="{{ url_for('static', filename=auto.img) if auto.img else url_for('static', filename='img/default.jpg') }}"
                    class="card-img-top"
                    alt="{{ auto.marca }} {{ auto.modelo }}"
                    loading="lazy"
                    width="300"
                    height="200"
                >
                <div class="card-body">
                    <h5 class="card-title">{{ auto.marca }} {{ auto.modelo }} {{ auto.año }}</h5>
    
                    <p class="card-text">
                        {% if auto.estado == 'Vendido' %}
                            <span style="color: red; font-weight: bold;">{{ auto.estado }}</span>
                        {% elif auto.estado == 'En Venta' %}
                            <span style="color: green; font-weight: bold;">{{ auto.estado }}</span>
                        {% else %}
                            {{ auto.estado }}
                        {% endif %}
                    </p>
    
                    <p class="card-text">
                        <strong>Precio:</strong> {{ auto.precio | miles }}
                    </p>
                    <a href="{{ url_for('vehiculo', patente=auto.patente) }}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}


